[submodule "data-scraping"]
	path = data-scraping
	url = https://github.com/lsdm-spring-2022/data-scraping.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/lsdm-spring-2022/frontend.git
[submodule "database"]
	path = database
	url = https://github.com/lsdm-spring-2022/database.git
[submodule "backend"]
	path = backend
	url = https://github.com/lsdm-spring-2022/backend.git
